/* src/App.css */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    padding-top: 60px; /* Zapewnia, że zawartość nie będzie za blisko nagłówka */
  }
  
  .sidebar {
    position: fixed; /* Sidebar jest przyklejony do lewej strony */
    top: 0;
    left: 0;
    width: 250px;
    background-color: #f4f4f4;
    height: 100vh; /* Sidebar zajmuje całą wysokość okna */
    z-index: 2; /* Sidebar zawsze na wierzchu */
  }
  
  .content {
    flex: 1;
    margin-left: 250px; /* Upewnia się, że zawartość nie będzie nachodziła na sidebar */
    padding: 20px;
    position: relative; /* Umożliwia wyświetlanie zawartości na odpowiednim poziomie */
    z-index: 1;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
  }
  